<div class="video-container">
  <video autoplay loop>
    <source src="<%= asset_url('bizteam.mp4') %>" type="video/mp4">
  </video>
  <div class="hero-text">
    <h1>Banal</h1>
    <h2>Some awesome tagline here...</h2>
  </div>
</div>
<div class="problems-container">
  <h2>Here's the problem with current analytics tools</h2>
</div>
<div class="solutions-container col-12">
  <h2>Here's how our tool solves the problem</h2>
</div>
<div class="demo-container col-12">
  <h2>Here is a link to the demo</h2>
</div>
