.background
  background-image: url(background.jpg)
  background-repeat: no-repeat
  background-size: cover
  min-width: 100%
  max-width: 100%
  z-index: 0

.events-outer-container
  padding: 20px

.events-container
  margin: 0 auto
  width: 80%
  height: 87vh
  position: relative

  .panel-heading
    h4
      text-align: center
      font-weight: 200

  .panel-body
    height: 95%

    #event-viewport
      height: 100%
      overflow: auto

    td p
      margin: 0

  .panel-footer
    position: absolute
    bottom: 0

  .events-table
    .json-row
      cursor: pointer

    .details
      display: none

    .active
      background-color: #e6f1f5

      .details
        display: block

      .summary
        display: none
